@font-face {
	font-family: "ProximaNova";
	src: url('fonts/ProximaNova/ProximaNova-Regular.otf') format("opentype");;
}

@font-face {
	font-family: "Helvetica Neue";
	src: url('fonts/HelveticaNeue/HelveticaNeueLTPro-Roman.otf');
}


body {
	padding: 0;
	margin: 0;
	background: white;
}

/*header*/
header {
	width: 100%;
	height: 88px;
	background: white;
}

.header-container {
	width: 1080px;
	margin: 0 auto;
	height: 100%;
	overflow: auto;
}

header img.logo {
	display: block;
	padding-top: 31px;
	float: left;
}

/*header menu*/
header .menu {
	width: 617px;
	float: right;
	color: #7E7E7E;
	font-size: 16px;
	text-transform: uppercase;
	padding: 0;
	list-style: none;
	overflow: auto;
	margin: 38px 44px 0 0;
	font-family: "ProximaNova";
}

header .menu li {
	float: left;
	margin-right: 29px;
}

header .menu li a {
	text-decoration: none;
	color: #7E7E7E;
}

header .menu li.active {
	color: #55C8B7;
	text-decoration: underline;
}

header .menu li:hover {
	cursor: pointer;
	text-decoration: underline;
}

header .menu li:last-child {
	margin-right: 0px;
}

/*header social buttons*/
header .social-button {
	float: right;
	width: 35px;
	height: 35px;
	margin-left: 19px;
	margin-top: 23px;
}

header .social-button:hover {
	opacity: 0.8;
	cursor: pointer;
}

header a:first-child .social-button {
	margin-left: 0;
}

/* global */
.clear-float {
	clear: both;
}

button.green-button {
	background-color: #30BFAB;
	border: 1px solid #20B09C;
	color: #FFF;
	font-family: "Helvetica Neue";
	font-size: 16px;
	font-weight: 700;
}

button.green-button:hover {
	opacity: 0.8;
	cursor: pointer;
}

.blueText {
	color: #3CC6ED;
	font-family: "Helveticaa Neue";
	font-size: 26px;
	font-weight: 700;
}

.grayTitle {
	color: #526371;
	font-family: "Helvetica Neue";
	font-size: 60px;
	font-weight: 700;
}

/** homepage **/

/*intro*/
.intro {
	height: 586px;
	width: 100%;
	overflow: auto;
}

/*left side*/
.intro .left-side {
	width: 50%;
	height: 100%;
	background: rgba(124, 214, 240,1);
	float: left;
}

.intro .left-side-background {
	width: 100%;
	height: 100%;
	margin-right: 20px;
	background-image: url('img/intro-bg.png');
	background-position: 100%;
	padding-right: 50px;
}

.intro .left-side-container {
	background: rgba(124, 214, 240, 0.68);
	width: 100%;
	height: 100%;
}

.intro-left-content {
	width: 368px;
	min-height: 200px;
	float: right;
	margin: 82px 112px 0 0;
}

.intro-left-content h1 {
	color: #FFF;
	font-family: "Helvetica Neue";
	font-size: 60px;
	font-weight: 700;
	padding: 0;
	margin: 0;
	line-height: 60px;
}

.intro-left-content p {
	font-family: "Helvetica Neue";
	font-size: 16px;
	line-height: 26px;
	color: #526371;
	font-weight: 400;
	margin: 36px 0 0 0;
	padding: 0;
}

.intro-left-content button {
	background: none;
	border: none;
	font-size: 16px;
	color: #FFF;
	font-weight: 700;
	padding: 0 40px 0 0;
	margin: 40px 0 0 0;
	background-image: url('img/button-arrows.png');
	background-repeat: no-repeat;
	background-position: 125px 3px
}

.intro-left-content button:hover {
	text-decoration: underline;
	cursor: pointer;
}

/*right side*/
.intro .right-side {
	background-color: #F2F2F2;
	width: 50%;
	height: 100%;
	float: left;
}

.intro-right-content {
	width: 380px;
	min-height: 200px;
	margin: 88px 0 0 90px;
}

.intro-right-content p {
	color: #526371;
	font-family: "Helvetica Neue";
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	width: 300px;
	margin: 0;
}

.intro-right-content img {
	margin: 29px 0 0 0;
	padding: 0;
	max-height: 182px;
}


.intro-right-content form {
	width: 380px;
	margin: 10px 0 0 0;
}

.intro-right-content form input[type="text"]  {
	width: 338px;
	padding: 0 20px;
	height: 62px;
	border: 1px solid #E1E1E1;
	color: #526371;
	font-family: "Helvetica Neue";
	font-size: 16px;
	font-weight: 400;
	margin: 0;
}

input:focus {
	outline: none;
}

.intro-right-content form input[type="submit"] {
	width: 222px;
	height: 62px;
	background-color: #30BFAB;
	border: 1px solid #20B09C;
	color: white;
	color: #FFF;
	font-family: "Helvetica Neue";
	font-size: 16px;
	font-weight: 700;
	margin: 19px 0 0 0;
}

.intro-right-content form input[type="submit"]:hover {
	opacity: 0.8;
	cursor: pointer;
}

/*container*/
.container {
	width: 1080px;
	margin: 0 auto;
	min-height: 500px;
	overflow: auto;
}

/*homepage content*/
.homepage-content {
	width: 940px;
	min-height: 100px;
	margin: 77px auto 70px auto;
	overflow: auto;
}

.homepage-content .posts {
	width: 581px;
	min-height: 200px;
	float: left;
}

/*post global design*/
.post {
	border-bottom: 1px dotted #cdcdcd;
	background: white;
	padding: 35px 0;
}

.post:first-child {
	padding-top: 0;
}

.post h3 {
	color: #3CC6ED;
	font-family: "Helvetica Neue";
	font-size: 26px;
	font-weight: 700;
	padding: 0;
	margin: 0;
}

.post h3 a {
	color: #3CC6ED;
	text-decoration: none;
}

.post h3 a:hover {
	text-decoration: underline;
}

p.metadata {
	color: #B9B9B9;
	font-family: "Helvetica Neue";
	font-size: 14px;
	font-weight: 400;
	padding: 2px 0 0px 32px;
	background-image: url('img/calendar-icon.png');
	background-repeat: no-repeat;
	line-height: 22px;
	margin: 16px 0 0 0;
}

p.metadata .post-date {
	padding-right: 7px;
}

p.metadata .post-subjects {
	padding-left: 7px;
}

p.text-part {
	font-family: "Helvetica Neue";
	font-size: 16px;
	color: #526371;
	font-weight: 400;
	margin: 23px 0 0 0;
	padding: 0;
	line-height: 26px;
}

.post-link {
	border: 0;
	background: white;
	color: #30BFAB;
	font-weight: 700;
	font-family: "Helvetica Neue";
	font-size: 16px;
	padding: 0 30px 0 0 ;
	margin: 39px 0 0 0;
	background-image: url('img/green-button-arrows.png');
	background-repeat: no-repeat;
	background-position: 95px 2px;
}

.post-link:hover {
	text-decoration: underline;
	cursor: pointer;
}

/*panel*/
.homepage-content .panel {
	float: right;
	width: 301px;
	min-height: 200px;
}

.homepage-content .panel-courses h4 {
	margin: 0;
	padding: 0;
	color: #526371;
	font-family: "Helvetica Neue";
	font-size: 26px;
	font-weight: 700;
	width: 200px;
	margin-bottom: 29px;
}

.homepage-content .panel-courses .course {
	background-color: #F2F2F2;
	min-height: 80px;
	overflow: auto;
	margin-bottom: 10px;
}

.homepage-content .panel-courses .course:last-child {
	margin-bottom: 0;
}

.homepage-content .panel-courses .course-date {
	width: 50px;
	height: 60px;
	background-color: #526371;
	padding: 20px 15px 0 15px;
	line-height: 20px;
	color: #FFF;
	font-family: "Helvetica Neue";
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	float: left;
}

.homepage-content .panel-courses .course-title {
	float: left;
	padding: 21px 25px;
	width: 170px;
	color: #526371;
	font-family: "Helvetica Neue";
	font-size: 16px;
	font-weight: 700;
}

.course-title a {
	text-decoration: none;
	color: #526371;
}

.course-title a:hover {
	text-decoration: underline;
}

.homepage-content .panel-courses a button {
	border: 0;
	background: white;
	color: #30BFAB;
	font-weight: 700;
	font-family: "Helvetica Neue";
	font-size: 16px;
	padding: 0 30px 0 0 ;
	margin: 29px 0 0 0;
	background-image: url('img/green-button-arrows.png');
	background-repeat: no-repeat;
	background-position: 220px 2px;
}

.homepage-content .panel-courses a button:hover {
	text-decoration: underline;
	cursor: pointer;
}

/*education resource of day*/
.panel-resource {
	background-color: #F2F2F2;
	width: 100%;
	min-height: 200px;
	margin: 36px 0 0 0;
	padding: 29px 0;
}

.panel-resource h4 {
	color: #526371;
	font-family: "Helvetica Neue";
	font-size: 26px;
	font-weight: 700;
	margin: 0px 31px 0 31px;
	width: 150px;
}

.panel-resource img {
	margin: 15px auto 0 auto;
	display: block;
	max-width: 242px;
}

.panel-resource p {
	color: #526371;
	font-family: "Helvetica Neue";
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	margin: 15px 29px 0 31px;
	padding: 0;
}

.panel-resource button {
	background: none;
	border: none;
	color: #30BFAB;
	font-family: "Helvetica Neue";
	font-size: 16px;
	font-weight: 700;
	margin: 34px 0 0 31px;
	padding: 0 25px 0 0;
	display: block;
	background-image: url('img/green-button-arrows.png');
	background-repeat: no-repeat;
	background-position: 220px 2px;
}

.panel-resource button:hover  {
	text-decoration: underline;
	cursor: pointer;
}

.panel-resource a {
	text-decoration: none;
}

/*explanation*/
.panel-explanation {
	background-color: #3CC6ED;
	color: white;
	padding: 25px 31px 49px 31px;
	margin-top: 40px;
}

.panel-explanation h4 {
	color: #FFF;
	font-family: "Helvetica Neue";
	font-size: 26px;
	font-weight: 700;
	padding: 0;
	margin: 0;
}

.panel-explanation p {
	color: #FFF;
	font-family: "Helvetica Neue";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

.panel-explanation button {
	background: none;
	border: none;
	color: white;
	font-family: "Helvetica Neue";
	font-size: 16px;
	font-weight: 700;
	margin: 34px 0 0 19px;
	padding: 0 25px 0 0;
	display: block;
	background-image: url('img/button-arrows.png');
	background-repeat: no-repeat;
	background-position: 136px 4px;
}

.panel-explanation a {
	text-decoration: none;
}

.panel-explanation button:hover {
	text-decoration: underline;
	cursor: pointer;
}

/* services */
.services {
	background-color: #F2F2F2;
	padding: 67px 0 67px 0;
}

.services-content {
	width: 980px;
	margin: 0 auto;
}

.services-content h3 {
	color: #526371;
	font-family: "Helvetica Neue";
	font-size: 48px;
	font-weight: 700;
	width: 380px;
	padding: 0;
	margin: 0 0 0 20px;
}

.services-items {
	margin-top: 40px;
	padding: 20px;
	overflow: auto;
}

.services-item {
	width: 300px;
	height: 269px;
	background-color: #FFF;
	-moz-box-shadow: 0 2px 5px rgba(29, 25, 28, 0.1);
	-webkit-box-shadow: 0 2px 5px rgba(29, 25, 28, 0.1);
	box-shadow: 0 2px 5px rgba(29, 25, 28, 0.1);
	margin-right: 20px;
	float: left;
	background-repeat: no-repeat;
	background-position: center 58px;
}

.services-item:hover {
	cursor: pointer;
}

.services-items a:last-of-type .services-item {
	margin-right: 0;
}

.services-item h6 {
	color: #3CC6ED;
	font-family: "Helvetica Neue";
	font-size: 26px;
	font-weight: 700;
	text-align: center;
	margin: 0;
	padding: 158px 0 0 0;
	width: 160px;
	margin: 0 auto;
}

.services-item.personal-consultation {
	background-image: url('img/personal-consulatition.png');
}

.services-item.courses-and-workshops {
	background-image: url('img/courses-and-workshops.png');
}

.services-item.semestr-mimoskolu {
	background-image: url('img/semestr-mimoskolu.png');
}

.services-content button {
	border: 0;
	background: none;
	color: #30BFAB;
	font-weight: 700;
	font-family: "Helvetica Neue";
	font-size: 16px;
	padding: 0 30px 0 0 ;
	margin: 46px auto 0 auto;
	display: block;
	background-image: url('img/green-button-arrows.png');
	background-repeat: no-repeat;
	background-position: 285px 2px;
}

.services-content button:hover {
	text-decoration: underline;
	cursor: pointer;
}

.services-content a {
	text-decoration: none;
}

/* press write */
.press-write {
	background: white;
}

.press-write-content {
	width: 940px;
	margin: 0 auto;
	padding: 66px 0 66px 0;
}

.press-write-content h3 {
	color: #526371;
	font-family: "Helvetica Neue";
	font-size: 48px;
	font-weight: 700;
	padding: 0;
	margin: 0;
}

.press-write-logos {
	overflow: auto;
	width: 100%;
	min-height: 50px;
	margin-top: 50px;
}

.press-write-logo {
	float: left;
	background-repeat: no-repeat;
}

.press-write-logo.hospodarske-noviny {
	background-image: url('img/hospodarske-noviny.png');
	width: 237px;
	height: 21px;
	margin-top: 13px;
	margin-right: 48px;
}

.press-write-logo.respekt {
	background-image: url('img/respekt.png');
	background-position: center -30px;
	width: 133px;
	height: 50px;
	margin-right: 30px;
}

.press-write-logo.cesky-rozhlas {
	background-image: url('img/cesky-rozhlas.png');
	background-position: center -46px;
	width: 217px;
	height: 50px;
	margin-right: 50px;
}

.press-write-logo.wolters-kluwer {
	background-image: url('img/wolters-kluwer.png');
	background-position: center 10px;
	width: 225px;
	height: 50px;
}

/** end homepage **/


/** education **/
.education-intro {
	width: 100%;
	overflow: auto;
}

/*left side*/
.education-intro .left-side {
	width: 50%;
	height: 100%;
	background: white;
	float: left;
}

.education-intro-left-content {
	width: 368px;
	min-height: 200px;
	float: right;
	margin: 108px 104px 0 0;
	padding :0;
}

.education-intro-left-content h1 {
	color: #526371;
	font-family: "Helvetica Neue";
	font-size: 60px;
	font-weight: 700;
	padding: 0;
	margin: 0;
	line-height: 66px;
}

.education-intro-left-content img {
	margin-top: 52px;
	padding: 0;
}

.education-intro-left-content p {
	color: #6E6E6E;
	font-family: "Adelle";
	font-size: 16px;
	font-style: italic;
	line-height: 26px;
	margin: 36px 0 0 0;
	padding: 0;
	width: 270px;
}

/*right side*/
.education-intro .right-side {
	background-color: #F2F2F2;
	width: 50%;
	height: 100%;
	float: left;
	padding-bottom: 87px;
}

.education-intro-right-content {
	width: 375px;
	height: 405px;
	min-height: 200px;
	margin: 94px 0 0 89px;
}

.education-intro-right-content p{
	color: #526371;
	font-family: "Helvetica Neue";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	width: 300px;
}

.education-intro-right-content p span {
	font-weight: 700;
}

.education-intro-buttons {
	width: 100%;
	background :white;
	overflow: auto;
}

.education-right-button {
	width: 50%;
	height: 140px;
	background-color: #45C6EB;
	float: left;
}

.education-right-button button {
	display: block;
	width: 431px;
	background: none;
	float: right;
	margin: 51px 40px 0 0;
	border: none;
	text-align: left;
	color: #F9FAFC;
	font-family: "Helvetica Neue";
	font-size: 36px;
	font-weight: 700;
	padding: 0 0 0 0;
	background-image: url('img/arrow-right.png');
	background-repeat: no-repeat;
	background-position: right;
}

.education-right-button:hover {
	cursor: pointer;
}

.education-left-button {
	width: 100%;
	height: 140px;
	background-color: #526371;
}

.education-left-button:hover {
	cursor: pointer;
}

.education-left-button button {
	display: block;
	width: 431px;
	background: none;
	float: left;
	margin: 51px 0 0 90px;
	border: none;
	text-align: left;
	color: #F9FAFC;
	font-family: "Helvetica Neue";
	font-size: 36px;
	font-weight: 700;
	padding: 0 0 0 0;
	background-image: url('img/arrow-right.png');
	background-repeat: no-repeat;
	background-position: right;
}

/*we help with*/
.we-help-with {
	background: white;
}

.we-help-with-header {
	width: 940px;
	margin: 0 auto;
	overflow: auto;
}

.we-help-with-header > div {
	float: left;
	width: 50%;
}

.we-help-with-header h3 {
	color: #526371;
	font-family: "Helvetica Neue";
	font-size: 48px;
	font-weight: 700;
	margin: 68px 0;
	padding: 0;
}

.we-help-with-header p {
	color: #526371;
	font-family: "Helvetica Neue";
	font-size: 16px;
	font-weight: 400;
	margin: 88px 0 0 89px;
	padding: 0;
	line-height: 24px;
}

.we-help-with-content-title {
	width: 100%;
	border-top: 1px dotted #cdcdcd;
	border-bottom: 1px dotted #cdcdcd;
}

.we-help-with-content-title ul {
	width: 940px;
	margin: 0 auto;
	overflow: auto;
	color: #3CC6ED;
	font-family: "Helvetica Neue";
	font-size: 26px;
	font-weight: 700;
	padding: 26px 0 26px 0;
}

.we-help-with-content-title ul li {
	float: left;
	list-style: none;
	width: 300px;
	margin-right: 18px;
}

.we-help-with-content-title ul li:last-child {
	margin-right: 0;
}

.we-help-with-content {
	width: 940px;
	margin: 0 auto;
}

.we-help-with-content > ul {
	overflow: auto;
	padding: 0;
	margin: 0;
}

.we-help-with-content > ul > li {
	float: left;
	list-style: none;
	width: 300px;
	padding: 0;
	margin-right: 18px;
}

.we-help-with-content > ul > li:last-child {
	margin-right: 0;
}

.we-help-with-content ul.list {
	padding: 0 0 0 20px;
	margin: 55px 0 0 0;
	color: #526371;
	font-family: "Helvetica Neue";
	font-size: 16px;
	font-weight: 400;
}

.we-help-with-content ul.list li {
	list-style-image: url('img/list-icon.png');
	padding-left: 13px;
	margin-bottom: 20px;
}

.we-help-with-content ul.list li:last-child {
	margin-bottom: 0;
}

.we-help-with-content li p.quote {
}

.we-help-with-content li p.quote span {
	font-weight: 700;
}

.we-help-with-content div.quotes {
	overflow: auto;
	margin: 40px 0 51px 0;
}

.we-help-with-content div.quotes > p {
	float: left;
	width: 230px;
	margin-right: 18px;
	padding: 37px 33px;
	border: 2px dotted #ececec;
	color: #526371;
	font-family: "Adelle";
	font-size: 16px;
	font-style: italic;
	line-height: 22px;
}

.we-help-with-content div.quotes > p:last-child {
	margin-right: 0px;
}

/*order-service*/
.order-service {
	background: #f7f7f7;
}

.order-service-content {
	width: 940px;
	margin: 0 auto;
	padding: 62px 0 81px 0;
}

.order-service-content h3 {
	color: #526371;
	font-family: "Helvetica Neue";
	font-size: 48px;
	font-weight: 700;
	padding: 0;
	margin: 0px 0 0 0;
	width: 400px;
}

.order-service-content ul.columns {
	margin: 70px 0 0 0;
	overflow: auto;
	padding: 0;
}

.order-service-content ul.columns > li {
	float: left;
	width: 460px;
	list-style: none;
}

.order-service-content ul.columns > li:first-child {
	margin-right: 20px;
}

.order-service-content li h6 {
	color: #3CC6ED;
	font-family: "Helvetica Neue";
	font-size: 26px;
	font-weight: 700;
	margin: 0;
	padding: 0;
}

.order-service-content li p {
	color: #526371;
	font-family: "Helvetica Neue";
	font-size: 16px;
	font-weight: 400;
	margin: 30px 0 0 0;
	padding: 0;
	line-height: 24px;
}

.order-service-content ul.items {
	background: none;
	list-style: none;
	margin: 47px 0 0 0;
	padding: 0;
}

.order-service-content ul.items li {
	overflow: auto;
	-moz-box-shadow: 0 2px 5px rgba(29, 25, 28, 0.1);
	-webkit-box-shadow: 0 2px 5px rgba(29, 25, 28, 0.1);
	box-shadow: 0 2px 5px rgba(29, 25, 28, 0.1);
	margin-bottom: 10px;
	background: white;
}

.order-service-content ul.items li:last-child {
	margin-bottom: 0;
}

.order-service-content ul.items li div.checkmark-square {
	width: 80px;
	height: 80px;
	background-color: #526371;
	float: left;
	background-image: url('img/checkmark.png');
	background-position: center center;
	background-repeat: no-repeat;
}

.order-service-content ul.items li p {
	padding: 29px 24px 0 24px;
	float: left;
	width: 316px;
	display: block;
	margin: 0;
}

.order-service-content ul.items li p span.bold {
	font-weight: 700;
}

.order-service-content ul.items li p.multiline {
	padding-top: 17px;
}

.order-service-content ul.columns li button {
	width: 222px;
	height: 62px;
	background-color: #30BFAB;
	border: 1px solid #20B09C;
	color: #FFF;
	font-family: "Helvetica Neue";
	font-size: 16px;
	font-weight: 700;
	margin-top: 60px;

}

.order-service-content ul.columns li button:hover {
	opacity: 0.8;
	cursor: pointer;
}

/*workers*/
.workers {
	background: white;
	width: 100%;
}

.workers-content {
	width: 940px;
	margin: 0 auto;
	padding: 65px 0 69px 0;
}

.workers h3 {
	color: #526371;
	font-family: "Helvetica Neue";
	font-size: 48px;
	font-weight: 700;
	margin: 0;
	padding: 0;
	width: 400px;
}

ul.mimoskolu-people {
	overflow: auto;
	list-style: none;
	margin: 98px 0 0 0;
	padding: 0;
}

ul.mimoskolu-people li {
	float: left;
	width: 445px;
}

ul.mimoskolu-people li:nth-child(odd) {
	margin-right: 50px;
}

ul.mimoskolu-people li img {
	float: left;
	width: 146px;
	border-radius: 146px;
	-webkit-border-radius: 146px;
	-moz-border-radius: 146px;
}

ul.mimoskolu-people li div.info {
	float: left;
	width: 280px;
	margin-left: 19px;
}

ul.mimoskolu-people li div.info h6 {
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue";
}

ul.mimoskolu-people li div.info p {
	color: #526371;
	font-family: "Helvetica Neue";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin-top: 20px;
	padding: 0;
}

ul.mimoskolu-people li div.info .linkedin {
	margin-top: 10px;
	padding-left: 29px;
	height: 20px;
	background-image: url('img/linkedin-logo.png');
	background-repeat: no-repeat;
	background-position: left;
}

ul.mimoskolu-people li div.info .linkedin a {
	color: #30BFAB;
	font-family: "Helvetica Neue";
	font-size: 14px;
	font-weight: 400;
	text-decoration: underline;
	line-height: 20px;
}

.workers-content > a button {
	margin: 73px auto 0 auto;
	display: block;
	width: 221px;
	height: 62px;
}

.workers-content > a button:hover {
	opacity: 0.8;
	cursor: pointer;
}

.workers-content > a {
	text-decoration: none;
}
/** end education **/


/** blog-detail **/
.article-title {
	background: #edf9fd;
}

.article-title-content {
	width: 940px;
	margin: 0 auto;
	padding: 98px 0 88px 0;
}

.article-title h1 {
	padding: 0;
	margin: 0;
	width: 900px;
}

.article-title p {
	padding: 3px 0 0 36px;
	margin: 23px 0 0 0;
	background-image: url('img/calendar-icon.png');
	background-repeat: no-repeat;
	color: #8A8A8A;
	font-family: "Helvetica Neue";
	font-size: 16px;
	font-weight: 400;
}

.detail-article {
	width: 100%;
	background: white;
}

.detail-article-content {
	width: 940px;
	margin: 0 auto;
	overflow: auto;
	padding: 68px 0 67px 0;
}

.detail-article-panel {
	float: left;
	width: 230px;
}

.detail-article-panel h4 {
	font-family: "Helvetica Neue";
	color: #526371;
	font-size: 26px;
	font-weight: 700;
	margin: 40px 0 0 0;
	padding: 0;
}

.detail-article-panel h4:first-child{
	margin-top: 0px;
}

.detail-article-panel p {
	margin: 22px 0 0 0;
	padding: 0;
}

.detail-article-panel p a {
	color: #3DC1AF;
	font-size: 16px;
	font-weight: 400;
	text-decoration: underline;
	font-family: "Helvetica Neue";
}

.detail-article-text {
	width: 600px;
	float: left;
	margin-left: 110px;
}

.detail-article-text p {
	margin: 0 0 36px 0;
	color: #526371;
	font-family: "Helvetica Neue";
	font-size: 18px;
	font-weight: 400;
	line-height: 26px;
}

.detail-article-text p a {
	color: #3DC1AF;
	font-size: 16px;
	font-weight: 400;
	text-decoration: underline;
	font-family: "Helvetica Neue";
}

.detail-article-text p.source {
	font-family: "Adelle";
	font-size: 16px;
	font-style: italic;
	margin: 0;
	padding: 0;
}

.detail-article-text p.source span.author {
	font-weight: 700;
}

/*someone*/
.someone {
	background-color: #F2F2F2;
	overflow: auto;
	margin-top: 71px;
	padding: 30px ;
}

.someone img {
	float: left;
	width: 146px;
	display: block;
	border-radius: 146px;
	-webkit-border-radius: 146px;
	-moz-border-radius: 146px;
}

.someone div.info{
	float: left;
	width: 700px;
	margin-left: 30px;
}

.someone div.info h6 {
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue";
	font-size: 16px;
}

.someone div.info p {
	color: #526371;
	font-weight: 400;
	font-family: "Helvetica Neue";
	font-size: 16px;
	line-height: 24px;
	padding: 0;
	margin: 36px 0 0 0;
}

/*disqus*/
.disqus {
	margin-top: 65px;
	height: 333;
}

/*suggest-article*/
.suggest-article-content {
	overflow: auto;
	margin-top: 100px;
}

.suggest-article-content .title {
	float: left;
	width: 300px;
}

.suggest-article-content .title h3 {
	margin: 0;
	padding: 0;
}

.suggest-article-content .suggest-article {
	float: left;
	width: 550px;
	margin-left: 86px;
}

.suggest-article-content .suggest-article .post {
	padding-bottom: 0;
	border: none;
}
/** end blog-detail **/


/** blog **/
.main-article {
	width: 100%;
	background-image: url('img/post-background.png');
	background-repeat: no-repeat;
	background-position: center top;
}

.main-article-background {
	background: rgba(255, 255, 255, 0.7);
	padding: 160px 0;
}

.main-article-content {
	width: 940px;
	margin: 0 auto;
}

.main-article-content h1 {
	padding: 0;
	margin: 0;
	width: 500px;
	line-height: 64px;
}

.main-article-content p {
	margin-top: 41px;
}

.main-article-content button {
	background: none;
	color: #526371;
	margin: 39px 0 0 0;
}

/*favorite-subjects*/
.favorite-subjects h3 {
	color: #526371;
	font-family: "Helvetica Neue";
	font-size: 26px;
	font-weight: 700;
	padding: 0;
	margin: 0;
}

.favorite-subjects ul {
	color: #3EC2AF;
	font-family: "Helvetica Neue";
	font-size: 16px;
	font-weight: 700;
	margin: 42px 0 0 0;
	padding: 0 0 0 25px;
	list-style-image: url('img/green-button-arrows.png');

}

.favorite-subjects ul li {
	margin: 0 0 24px 0;
	padding: 0 0 0 0;
}

.favorite-subjects ul li a {
	color: #3EC2AF;
	text-decoration: none;
}

.favorite-subjects ul li a:hover {
	text-decoration: underline;
}

.favorite-subjects ul li:last-child {
	margin: 0;
}

/*newsletter-block*/
.newsletter-block {
	max-width: 301px;
	background-color: #3CC6ED;
	padding: 29px 33px 38px 33px;
	margin-top: 36px;
}

.newsletter-block h3 {
	margin: 0;
	padding: 0;
	color: #FFF;
	font-family: "Helvetica Neue";
	font-size: 26px;
	font-weight: 700;
	line-height: 36px;
}

.newsletter-block p {
	color: #FEFEFE;
	font-family: "Helvetica Neue";
	font-size: 14px;
	font-weight: 400;
	margin: 17px 0 0 0;
	padding: 0;
	line-height: 24px;
}

.newsletter-block input[type="text"] {
	font-family: "Helvetica Neue";
	font-size: 16px;
	font-weight: 400;
	background-color: #FFF;
	border: none;
	margin: 39px 0 0 0;
	padding: 23px 19px 20px 19px;
	color: #526371;
	width: 205px;
}

.newsletter-block input[type="submit"] {
	width: 243px;
	height: 60px;
	background-color: #526371;
	color: #FFF;
	font-family: "Helvetica Neue";
	font-size: 16px;
	font-weight: 700;
	border: none;
	margin-top: 23px;
}

.newsletter-block input[type="submit"]:hover {
	opacity: 0.9;
	cursor: pointer;
}

/*popular-articles*/
.popular-articles {
	margin: 37px 0 0 0;
}

.popular-articles h3 {
	color: #526371;
	font-family: "Helvetica Neue";
	font-size: 26px;
	font-weight: 700;
	padding: 0;
	margin: 0 0 35px 0;
}

.popular-articles a {
	text-decoration: none;
}

.popular-articles  div {
	background-color: #F2F2F2;
	margin-bottom: 10px;
	padding: 21px 29px;
	color: #3EC2AF;
	font-family: "Helvetica Neue";
	font-size: 16px;
	font-weight: 700;
}

.popular-articles  div:hover {
	opacity: 0.8;
	cursor: pointer;
}
/** end blog **/


/** about **/
.sub-header {
	background-color: #45C6EB;
}

.sub-header-content {
	width: 940px;
	margin: 0 auto;
	padding: 32px 0 30px 0;
}

.sub-header ul {
	width: 631px;
	margin: 0 0 0 239px;
	overflow: auto;
	list-style: none;
	padding: 0;
}

.sub-header ul li {
	float: left;
	margin-right: 25px;
	color: #FFF;
	font-family: "ProximaNova";
	font-size: 16px;
	text-transform: uppercase;
}

.sub-header ul li a {
	color: white;
	text-decoration: none;
}

.sub-header ul li:hover {
	text-decoration: underline;
	cursor: pointer;
}

.sub-header ul li:last-child {
	margin-right: 0px;
}

/*about intro*/
.about-intro {
	width: 100%;
	overflow: auto;
	background-color: #F2F2F2;
	border-bottom: 1px dotted #cdcdcd;
}

/*left side*/
.about-intro .left-side {
	width: 50%;
	height: 100%;
	background: white;
	float: left;
}

.about-intro-left-content {
	width: 368px;
	min-height: 200px;
	float: right;
	margin: 69px 93px 0 0;
	padding : 0 0 70px 0;
}

.about-intro-left-content h1 {
	color: #526371;
	font-family: "Helvetica Neue";
	font-size: 60px;
	font-weight: 700;
	padding: 0;
	margin: 0;
	line-height: 66px;
}

.about-intro-left-content p {
	color: #526371;
	font-family: "Helvetica Neue";
	font-size: 16px;
	font-weight: 400;
	margin: 36px 0 0 0;
	padding: 0;
	line-height: 24px;
}

.about-intro-left-content p.first {
	margin-top: 58px;
}

.about-intro-left-content p span.bold {
	font-weight: 700;
}

.about-intro-left-content button {
	width: 221px;
	height: 62px;
	margin-top: 69px;
}

/*right side*/
.about-intro .right-side {
	background-color: #F2F2F2;
	width: 50%;
	height: 100%;
	float: left;
	padding-bottom: 87px;
}

.about-intro-right-content {
	width: 375px;
	height: 405px;
	min-height: 200px;
	margin: 74px 0 0 91px;
}

.about-intro-right-content h1 {
	padding: 0;
	margin: 0;
	line-height: 66px;
}

.about-intro-right-content p{
	color: #526371;
	font-family: "Helvetica Neue";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin: 36px 0 0 0;
}

.about-intro-right-content p.bold{
	font-weight: 700;
	margin-top: 58px;
}

/*mimoskolu-people*/
.mimoskolu-people-background {
	background-color: white;
}

.mimoskolu-people-content {
	width: 940px;
	margin: 0 auto;
	padding-top: 70px;
}

.mimoskolu-people-content h3 {
	color: #526371;
	font-family: "Helvetica Neue";
	font-size: 48px;
	font-weight: 700;
	margin: 0;
	padding: 0;
}

.mimoskolu-people-container {
	padding: 63px 0 69px 0;
	border-bottom: 1px dotted #ececec;
	overflow: auto;
}

.mimoskolu-people-container:first-child {
	padding-top: 0;
}

/*next-workers*/
.next-workers {
	padding: 66px 0 70px 0;
}

.next-workers ul {
	overflow: auto;
	list-style: none;
	margin: 0;
	padding: 0;
}

.next-workers ul li {
	float: left;
	width: 313px;
	margin-top: 69px;
}

.next-workers ul li h6 {
	text-align: center;
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue";
	font-size: 26px;
	font-weight: 700;
}

.next-workers .linkedin {
	padding-left: 29px;
	height: 20px;
	width: 60px;
	background-image: url('img/linkedin-logo.png');
	background-repeat: no-repeat;
	background-position: left;
	margin: 16px auto 0 auto;
}

.next-workers .linkedin a {
	color: #30BFAB;
	font-family: "Helvetica Neue";
	font-size: 14px;
	font-weight: 400;
	text-decoration: underline;
	line-height: 20px;
}

.partners {
	background: #f2f2f2;
}

.partners-content {
	width: 940px;
	margin: 0 auto;
	padding: 69px 0 71px 0;
}

.partners-content h3 {
	color: #526371;
	font-family: "Helvetica Neue";
	font-size: 48px;
	font-weight: 700;
	margin: 0;
	padding: 0;
}

.partners-logos {
	overflow: auto;
	margin-top: 40px;
}

.partners-logos > img {
	float: left;
	display: top;
}

.partners-logos img.naucmese-logo {
	margin-left: 70px;
}

.partners-logos img.eduin-logo {
	margin-left: 95px;
}

.partners-logos img.eduforum-logo {
	margin-left: 95px;
}

.partners-logos img.rozectise-logo {
	margin-left: 250px;
	margin-top: 66px;
}

.partners-logos img.gegcr-logo {
	margin-left: 84px;
	margin-top: 77px;
	vertical-align: top;
}

/*for-press*/
.for-press {
	background: white;
}

.for-press-content {
	width: 940px;
	margin: 0 auto;
	padding: 65px 0 75px 0;
}

.for-press-content h3 {
	color: #526371;
	font-family: "Helvetica Neue";
	font-size: 48px;
	font-weight: 700;
	margin: 0;
	padding: 0;
}

.for-press-container {
	overflow: auto;
	margin-top: 69px;
}

h6 {
	color: #526371;
	font-family: "Helvetica Neue";
	font-size: 26px;
	font-weight: 700;
	margin: 0 auto;
}

/*wrote-about-us*/
.wrote-about-us {
	width: 460px;
	float: left;
}

.wrote-about-us-logos {
	padding-top: 35px;
}

.wrote-about-us-logos img {
	vertical-align: middle;
	margin-right: 20px;
	margin-top: 30px;
}

.wrote-about-us-logos a:last-child img{
	margin-right: 0;
}

/*press-kit*/
.press-kit {
	margin-left: 50px;
	float: left;
	width: 400px;
}

.press-kit button {
	width: 221px;
	height: 62px;
	margin-top: 69px;
}

.press-kit p {
	margin: 39px 0 0 0;
	padding: 0;
	font-family: "Helvetica Neue";
	font-size: 16px;
	color: #526371;
	font-weight: 400;
	line-height: 24px;
}

.press-kit p span.bold {
	font-weight: 700;
}

.press-kit p span.email {
	color: #30BFAB;
	font-weight: 700;
	text-decoration: underline;
}
/** end about **/


/** contact **/
/*about intro*/
.contact-intro {
	width: 100%;
	overflow: auto;
	background-color: white;
	border-bottom: 1px dotted #cdcdcd;
}

/*left side*/
.contact-intro .left-side {
	width: 50%;
	height: 100%;
	background: white;
	float: left;
}

.contact-intro-left-content {
	width: 420px;
	min-height: 200px;
	float: right;
	margin: 69px 50px 0 0;
	padding : 0 0 70px 0;
}

.contact-intro-left-content h1 {
	color: #526371;
	font-family: "Helvetica Neue";
	font-size: 60px;
	font-weight: 700;
	padding: 0;
	margin: 0;
	line-height: 66px;
}

.contact-intro-left-content p {
	color: #526371;
	font-family: "Helvetica Neue";
	font-size: 16px;
	font-weight: 400;
	margin: 36px 0 0 0;
	padding: 0;
	line-height: 24px;
}

.contact-intro-left-content p.first {
	margin-top: 58px;
}

.contact-intro-left-content p span.bold {
	font-weight: 700;
}

.contact-intro-left-content button {
	width: 221px;
	height: 62px;
	margin-top: 69px;
}

.contact-intro h3 {
	color: #30BFAB;
	font-family: "Helvetica Neue";
	font-size: 26px;
	font-weight: 700;
	text-decoration: underline;
}

.contact-intro .address {
	overflow: auto;
}

.contact-intro .address p {
	float: left;
}

.contact-intro .address p:first-child {
	margin-right: 80px;
}

/*right side*/
.contact-intro .right-side {
	background-color: #F2F2F2;
	width: 50%;
	height: 100%;
	float: left;
	padding-bottom: 58px;
}

.contact-intro-right-content {
	width: 375px;
	height: 405px;
	min-height: 200px;
	margin: 58px 0 0 90px;
}

.contact-intro form {
	width: 379px;
}

.contact-intro form input,
.contact-intro form textarea {
	width: 341px;
	color: #526371;
	font-family: "Helvetica Neue";
	font-size: 16px;
	font-weight: 400;
	padding: 23px 19px 20px 19px;
	border: none;
	margin: 0 0 20px 0;
}

.contact-intro form textarea {
	height: 150px;
}

.contact-intro form input[type="submit"] {
	width: 218px;
	height: 60px;
	padding: 0;
	background-color: #526371;
	color: #FFF;
	font-family: "Helvetica Neue";
	font-size: 16px;
	font-weight: 700;
	margin: 0;
	float: right;
}
/** end contact **/

/** resource **/
.resource-title {
	background: #edf9fd;
	padding: 140px 0 145px 0;
	text-align: center;
}

.resource-title h1 {
	margin: 0;
	padding: 0;
}

.resource-menu {
	background-color: #45C6EB;
	padding: 30px 0 33px 0;
	overflow: auto;
}

.resource-menu ul {
	width: 940px;
	margin: 0 auto;
	list-style: none;
	color: white;
}

.resource-menu ul a li.active {
	color: #526371;
}

.resource-menu ul a li {
	color: white;
	float: left;
	margin-right: 22px;
	font-family: "ProximaNova";
	font-size: 16px;
	text-transform: uppercase;
}

.resource-menu ul a:last-child  li{
	margin-right: 0;
}

.resource-menu ul a {
	text-decoration: none;
}

/*resource-list*/
.resource-list {
	background: white;
}

.resource-content {
	width: 940px;
	margin: 60px auto 60px auto;
	overflow: auto;
}

.resource-item {
	width: 240px;
	min-height: 273px;
	background: #f2f2f2;
	padding: 30px;
	float: left;
	margin: 0 19px 19px 0;
}

.resource-item:nth-child(3n) {
	margin-right: 0;
}

.resource-logo {
	width: 100%;
	height: 150px;
	background: white;
	background-repeat: no-repeat;
	background-position: center center;
}

.resource-item p {
	margin: 29px 0 0 0;
	padding: 0;
	font-family: "Helvetica Neue";
	line-height: 24px;
	color: #526371;
	font-size: 14px;
	font-weight: 400;
}

.resource-item p a {
	color: #30BFAB;
	font-size: 16px;
	font-weight: 700;
	text-decoration: underline;
}
/** end resource **/


/** Footer **/

/* newsletter */
.newsletter {
	width: 100%;
	background-color: #3CC6ED;
	padding: 60px 0 82px 0;
}

.newsletter-content {
	width: 940px;
	margin: 0 auto;
	overflow: auto;
}

.newsletter-left-side {
	float: left;
}

.newsletter-left-side h3 {
	color: #FFF;
	font-family: "Helvetica Neue";
	font-size: 48px;
	font-weight: 700;
	padding: 0;
	margin: 0;
	width: 300px;
}

.newsletter-left-side p {
	width: 363px;
	color: #FFF;
	font-family: "Helvetica Neue";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	padding: 0;
	margin: 38px 126px 0 0;
}

.newsletter-left-side input[type="text"] {
	width: 404px;
	height: 17px;
	padding: 23px 18px 20px 18px;
	background-color: #FFF;
	margin-top: 41px;
	color: #526371;
	font-family: "Helvetica Neue";
	font-size: 16px;
	font-weight: 400;
}

.newsletter-left-side input[type="button"] {
	width: 218px;
	height: 60px;
	background-color: #526371;
	border: none;
	color: #FFF;
	font-family: "Helvetica Neue";
	font-size: 16px;
	font-weight: 700;
	margin-top: 23px;
}

.newsletter-left-side input[type="button"]:hover {
	cursor: pointer;
	opacity: 0.9;
}

/* social buttons */
.social-buttons {
	background-color: #526371;
	padding: 70px 0 77px 0;
}

.social-buttons-content {
	width: 940px;
	margin: 0 auto;
	height: 260px;
	overflow: auto;
}

.social-buttons-content  div {
	width: 460px;
	background-color: #607586;
	height: 100%;
	float: left;
	background-repeat: no-repeat;
	background-position: center 108px;
}

.social-buttons-content  div:first-child {
	margin-right: 20px;
}

.social-buttons-content div.facebook-button {
	background-image: url('img/facebook-logotype.png');
}

.social-buttons-content div.twitter-button {
	background-image: url('img/twitter-logotype.png');
}

/*copyright*/
.copyright {
	height: 100px;
	background-color: #4C5A66;
}

.copyright-content {
	width: 940px;
	margin: 0 auto;
	overflow: auto;
}

.copyright-info {
	font-family: "Helvetica Neue";
	font-size: 16px;
	color: #FFF;
	font-weight: 400;
	margin-top: 41px;
	float: left;
}

.copyright-info	span {
	padding-right: 8px;
	padding-left: 8px;
}

.copyright-info	span:first-child {
	padding-left: 0px;
}

.copyright-info .email {
	color: #30BFAB;
	font-weight: 400;
	text-decoration: underline;
}

.copyright-info .bold {
	color: #FFF;
	font-weight: 700;
}

.copyright .to-top-button {
	float: right;
	width: 44px;
	height: 44px;
	background-image: url('img/arrow-button.png');
	margin-top: 34px;
}









